.homepage {
    text-align: center;
    text-transform: uppercase;
}
h1 {
    padding-top: 125px; 
    font-size: 8em; 
}
nav a {
    padding-left: 30px;
    padding-right: 30px;
}
body {
    background: #FFFFFF;
    font-family: "Trebuchet MS";
}
.projects div {
    float: left;
    text-align: center;
    width: 25%;
}

.projects h2 {
    padding-top: 300px;
}

.projects img {
    width: 300px;
    height: 300px;
}

.work-experience h2 {
    padding-top: 700px;
}

.contact h2 {
    padding-top: 300px;
}