h1 {
    text-align: center;
    padding-top: 125px; 
    font-size: 8em; 
}
h3 {
    text-align: center;
}
nav {
    text-align: center;
}
nav a {
    padding-left: 30px;
    padding-right: 30px;
}
body {
    background: #FFFFFF;
    font-family: "Trebuchet MS";
    text-transform: uppercase;
}